{% extends "base.html" %}

{% block content %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Stock</th>
            <th>Daily Rate</th>
            <th>Release year</th>
        </tr>
        <tbody>
            <tr>
                <td>{{movie.title}}</td>
                <td>{{movie.genre}}</td>
                <td>{{movie.number_in_stock}}</td>
                <td>{{movie.daily_rate}}</td>
                <td>{{movie.release_year}}</td>
            </tr>
        </tbody>
    </thead>
</table>
{% endblock %}